html, body{
	width:100%;
	height:100%;
	font-family:'cardo', Serif;
	color: #4d4d4d;
	margin: 0px auto;
	font-weight: bold;
	font-size:20px;
}
span{
	color: #000;
}
.icon{
	width: 5%;
	margin: 30px auto;
}
.icon i {
	color: #4d4d4d ;
	font-size: 30px;
	margin: 0 10px;
}
header{
	height: 40px;
	background-color: #b8b8b8;
	margin-bottom: 30px;
}
header a{
	color:#555;
}

.twitter i:hover{
	color: #12A5F4;
}
.skype i:hover{
	color: #35CCFF;
}
.bitbucket i:hover{
	color: #336699;
}
.contact{
	font-size: 20px;
	color: #555;
}
ul.icon-top{
	padding: 0;
	text-align: center;
}
.icon-top li{
	display: inline-block;
}
.icon-top i{
	font-size: 30px;
	padding: 0 20px;
}
.icon-desc li{
	font-size: 30px;
	padding: 0 20px;
	display: inline-block;
	text-decoration: none;
}
.profile{
	margin: 0px auto;
	width: 400px;
	display: block;
	font-size: 16px;
}
.profile img{
	border-radius: 50px;
	width: 200px;
	display:block;
	margin:0 auto;
	margin-bottom: 25px;
}
.profile h1{
	border-top:2px solid black;
	border-bottom:2px solid black;
	display:block;
	margin: 0 auto;
	width: 320px;
}


/*seccion info*/

.info{
	width:400px;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
}
.info span{
	color: #000;
	font-weight: bold;
	
}
/*fin seccion info*/

/*presentacion*/

.present{
	width:60%;
	margin:50px auto;
	display: block;
	text-align: justify;
	border-left: double 10px #000;
	border-right: double 10px #000;
	font-style: italic;
}

/* fin presentacion*/

/*section-title*/

.section-title{
	display: block;
	text-align: center;
}
.var-left{
	width:40%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-right{
	width:40%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-left-sm{
	width:36%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-right-sm{
	width:36%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.title{
	font-style: italic;
	color: #000;
	display: inline-block;
	width:110px;
	
	
}
.title-ex {
	font-style:italic;
	display: inline-block;
	color: #000;
	vertical-align: middle;
	margin:0 3px;
}

/* fin section- title*/

/* section estudios*/

.estudios{
	width: 600px;
	margin: 30px auto;
	text-align: center;
	
}
/*fin section estudios*/

/*section experience*/

.experience{
	width: 600px;
	margin: 30px auto;
	text-align: center;
}

/* fin section experience*/

/* section tecno*/

.tecno{
	width: 100%;
	text-align: center;
}
.subtitle{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #000;
}
.logos{
	width: 100%;
	height:120px;
}
.logos div{
	position: relative;
	display: inline-block;
	width:80px;
	height:90px;
	border-radius: 30%;
	background-color: #ccc;
	color: #4d4d4d;
	font-size: 12px;
	vertical-align: middle;
	
}
.logos p{
	text-align: center;
	position: relative;
	top: 25px;	
	width: 80px;
	display: table-cell;
    vertical-align:middle;
	height: 40px;
}
/*fin section tecno*/

/* footer */

footer{
	width:100%;
	background-color: #000;
	height:70px;
	text-align: center;
	top: 30px;
}
footer p{
	margin: 0 auto;
	width:60%;
	padding-top: 30px;
	color: #ccc;
	font-style: italic;
	font-size: 15px;
}

/***MEDIA QUERY***/

@media (max-width: 600px) {
	body{
		width: 80%;
		margin: 0 auto;
		font-size:15px;
		}
	
	.profile{
		width: 80%;
	}
	.profile h1 {
		font-size:20px;
		text-align: center;
		width: 200px;
		
		
	}
	.profile img{
		width: 100px;
		border-radius: 100px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.info{
		font-size: 15px;
		width: 100%;
		
	}
	.present{
		width:80%;
		text-align: center;
	}
	.var-left{
		width: 30%;
	}
	.var-right{
		width: 30%;
	}
	.title{
		width:70px;
	}
	.title-ex{
		width: 70px;
	}
	.estudios{
		width:80%;
		margin: 40px auto;
	}
	.experience{
		width:80%;
	}
	.tecno{
		width: 80%;
	}
	.icon{
	width: 30px;
	margin: 30px auto;

	}
}