body, .container{
	font-family:'cardo', Serif;
	color: #4d4d4d;
	margin: 0px auto;
	font-weight: bold;
	font-size:20px;
	overflow-x:hidden;
}
.icon{
	margin: 30px auto;
}

header{
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	height: 50px;
	/*background-color: #16a286;*/
	z-index: 1;
}

header a{
	color:#555;
}
span{
	color: #1C9E8F;

}
.nav{
	display: flex;
	justify-content: center;
}
.nav li{
	display: inline-block;
	text-decoration: none;
	padding: 15px ;
}
.nav a{
	font-size: 20px;
	padding:10px;
}
.nav i {
	color: #fff;
	margin: 0 10px;
}
#about{
	min-height: 80vh;
	display: flex;
	align-items: center;
	margin-top: 10px;


}
.profile{
	display: inline-block;
	font-size: 16px;

}
.profile img{
	border-radius: 100%;
	margin-left: 10px;
	transition: ease 0.5s all;
}
.profile img:hover{
	border: 10px double #1C9E8F;
	box-shadow: 0 0 15px #333;
	margin-left: 0;

}
.picandprofile {
	display: inline-block;
	
}


/*presentacion*/

.present{
	display: inline-block;
	text-align: justify;
	border-left: double 10px #000;
	border-right: double 10px #000;
	font-style: italic;
}

/* fin presentacion*/

/*section-title*/

.section-title{
	display: block;
	text-align: center;
	margin-top: 70px;
}
.var-left{
	width:40%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-right{
	width:40%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-left-sm{
	width:36%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.var-right-sm{
	width:36%;
	height:10px;
	display: inline-block;
	border-top:3px solid #000;
	border-bottom: 3px solid #000;
}
.title{
	font-style: italic;
	color: #1C9E8F;
	font-weight: bold;
	display: inline-block;
	width:110px;
	
	
}
.title-ex {
	font-style:italic;
	display: inline-block;
	color: #1C9E8F;
	font-weight: bold;
	vertical-align: middle;
	margin:0 3px;
	max-width: 150px;
	overflow: hidden;
}

/* fin section- title*/

/* section estudios*/
#study{
	min-height: 80vh;

}
.estudios{
	width: 600px;
	margin: 30px auto;
	text-align: center;
}

/*fin section estudios*/

/*section experience*/

.experience{
	width: 600px;
	margin: 30px auto;
	text-align: center;
}

/* fin section experience*/

/* section tecno*/
#tecno{
	min-height: 70vh;
}

.tecno{
	text-align: center;
}
.subtitle{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #000;
	font-weight: bold;

}
.logos{
	border-right: 2px double #ccc;
}
.logos div{
	padding-bottom: 15px;
}

/*fin section tecno*/
/*portfolio*/

.photos div img{
	padding-top: 40px;

}

/*fin portfolio*/
/********* contacto ********/

#contact{
	min-height: 70vh;
	margin-bottom: 180px;
}
.contact-content{
	margin-top: 50px;
}
form{
	max-width: 50%;
}
textarea#mensaje{
	min-height: 100px;
}
.info ul{
	list-style: none;
	text-align: justify;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 0;
}
.info a{
	color: #1C9E8F;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding-bottom: 20px;
}
.info span{
	color: #4d4d4d;
	font-size: 18px;
}
.chevron{
	text-align: center;
	font-size: 25px;
}

/******* fin contacto *******/

/* footer */

footer{
	width:100%;
	background-color: #1C9E8F ; /*#67127d*/
	height:150px;
	text-align: left;
	position: fixed;
	bottom: 0;		
	right: 0;
	left: 0;
	margin:0;

}
footer p{
	text-align: center;
	color: #333;
	font-style: italic;
	font-size: 15px;
	font-weight: bold;
	bottom: 5px;

}
.social{
	margin-top: 20px;
}
.icon-desc{
	margin:0;
	text-align: left;
}
.icon-desc li{			
	padding: 0 20px;				
	display: block;
	text-decoration: none;
}
.icon-desc i{
	color: #fff;
	font-size: 25px;
	padding: 10px 0;
	transition: color 400ms ease-out;
}
.icon-desc i:hover{
	color:#444;

}
.icon-top{
	margin:0;
	text-align: right;
}
.icon-top li{
	display: inline-block;
}
.icon-top i{
	color: #fff;
	font-size: 30px;
	padding: 15px;
	transition: color 400ms ease-out;
}
.icon-top i:hover{
	color:#444;
}
/*.twitter i:hover{
	color: #12A5F4;
}
.skype i:hover{
	color: #35CCFF;
}
.bitbucket i:hover{
	color: #336699;
}
.linkedin :hover{
	color: #0077B5;
}*/
.contact{
	font-size: 20px;
	color: #555;
	display: inline-block;
}


/***MEDIA QUERY***/

